<?xml version="1.0" encoding="utf-8"?>
<!-- Manifest File -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhise.ui"
    android:versionCode="2"
    android:versionName="2.1" >

    <!-- Targeted SDK Details -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <!-- Permissions Required -->

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Application Details -->
    <application
        android:name="com.mhise.constants.MobiusDroid"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MobiusActionBar"
        android:vmSafeMode="true" >

        <!-- Activity Details -->

        <activity
            android:name="com.mhise.ui.CertificateInitializer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mhise.ui.UserLogin"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mhise.ui.ForgotPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ForgotPassword"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" >
        </activity>
        <activity
            android:name="com.mhise.ui.SearchPatient"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/SearchPatient" >
        </activity>
        <activity
            android:name="com.mhise.ui.AdvanceSearchPatient"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/advance_search" >
        </activity>
        <activity
            android:name="com.mhise.ui.DocumentViewScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/DocumentViewScreen" >
        </activity>
        <activity
            android:name="com.mhise.ui.ProviderTypeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/ProviderTypeScreen" >
        </activity>
        <activity
            android:name="com.mhise.ui.RegisterProvider"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/RegisterProvider" >
        </activity>
        <activity
            android:name="com.mhise.ui.SelectPurpose"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/select_purpose"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" >
        </activity>
        <activity
            android:name="com.mhise.ui.GetDocumentDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/GetDocumentDetails" >
        </activity>
        <activity
            android:name="com.mhise.ui.RegisterPatient"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/RegisterPatient" >
        </activity>
        <activity
            android:name="com.mhise.ui.PatientResult"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/PatientResult" >
        </activity>
        <!--
        <activity
            android:name=".MultiSelectionCommunityDialog"
            android:label="" 
             android:configChanges="orientation|keyboardHidden|screenSize">
        </activity><
        -->

        <activity
            android:name="com.mhise.ui.Register"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/Register" >
        </activity>
        <activity
            android:name="com.mhise.ui.ReferPatient"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/refer" >
        </activity>

        <!-- <service android:name=".Service_class" /> -->
        <activity
            android:name="com.mhise.ui.DateFragmentActivity"
            android:label="@string/title_activity_date_fragment" >
        </activity>
    </application>

</manifest>