<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigurationPath" value="E:\SDLC\Source\Mobius Phase-II\Source Code\Mobius.Server\Mobius.CoreLibrary\Configuration.xml"/>
    <add key="Log.File.Name" value="c:\DLLs\MobiusLog.log"/>
    <add key="LocalHomeCommunityID" value="2.16.840.1.113883.3.1605"/>
    <add key="RemoteHomeCommuntiyID" value="2.16.840.1.113883.3.348.2.1"/>
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EmailFromAddress" value="Referralrequestor@gmail.com"/>
    <add key="SmtpUserName" value="mobiushealthinformation@gmail.com"/>
    <add key="SmtpPassword" value="mhi#12345"/>
    <add key="SmtpEnableSSL" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
