<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="data source=RSI-2M576JZLTV9;initial catalog=MobiusServer;user id=sa;password=sa;"/>-->
    <add key="ConnectionString" value="data source=MERSRSISERVER;initial catalog=MobiusServerTest;user id=sa;password=Password2;"/>
  </appSettings>
</configuration>