<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="data source=10.131.10.151;user id=sa;password=Password2;initial catalog=MobiusServerTest"/>
    <!--<add key="ConnectionString" value="data source=.;user id=mobius;password=!demo_123fgenesis!;initial catalog=MobiusServer" />-->
    <add key="Log.File.Name" value="c:\DLLs\MobiusLog.log"/>
    <add key="LocalHomeCommunityID" value="2.16.840.1.113883.3.1605"/>
    <add key="RemoteHomeCommuntiyID" value="2.16.840.1.113883.3.348.2.1"/>
    <add key="RetrievePath" value="\\10.131.10.151\First Genesis Documents\Retrieved"/>
    <add key="UploadPath" value="\\10.131.10.151\First Genesis Documents\Upload"/>
    <add key="SharedPath" value="\\10.131.10.151\First Genesis Documents\Shared"/>

    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EmailFromAddress" value="Referralrequestor@gmail.com"/>
    <add key="SmtpUserName" value="mobiushealthinformation@gmail.com"/>
    <add key="SmtpPassword" value="mhi#12345"/>
    <add key="SmtpEnableSSL" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
