<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <bindings>

      <wsHttpBinding>
        <binding name="AdapterPEP_wsHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>

    <services>
      <service behaviorConfiguration="AdapterPEP.ServiceBehavior" name="AdapterPEP.AdapterPEP">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="AdapterPEP_wsHttpBinding"
          bindingNamespace="urn:gov:hhs:fha:nhinc:adapterpep" contract="AdapterPEP.IAdapterPEPPortType" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AdapterPEP.ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata  httpGetEnabled="true"    />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="AdapterPEP.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
