<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Change the Value of the Log File Name to point to your File. -->
    <add key="Log.File.Name" value="MobiusLog.log" />

    <!-- Specify Log Severity. Error=1, Warning=2, Debug=3, Info=4 -->
    <!-- Application Level log Severity. Default is 4-->
    <add key="Log.Severity" value="1" />
  </appSettings>
</configuration>