<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.AlopplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MobiusHISEService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\log\WCF_Trace_Adapter.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
  <appSettings>
    <!--<add key="ConnectionString" value="data source=10.131.10.151;user id=sa;password=Password2;initial catalog=MobiusServerTest" />-->
    <add key="ConfigurationPath" value="E:\Project\First-Genesis\Source Code\Mobius.Server\Mobius.CoreLibrary\Configuration.xml" />
    <add key="LocalHomeCommunityID" value="2.16.840.1.113883.3.1605" />
    <add key="RemoteHomeCommuntiyID" value="2.16.840.1.113883.3.348.2.1" />
    <add key="Log.File.Name" value="E:\Project\First-Genesis\Source Code\Mobius.Server\AdapterComponentMPI\MobiusLog.txt" />

    <!-- Specify Log Severity. Error=1, Warning=2, Debug=3, Info=4 -->
    <!-- Application Level log Severity. Default is 4-->
    <add key="Log.Severity" value="1" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <httpRuntime maxRequestLength="65536"></httpRuntime>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="AdapterComponentMPI_basicHttpAdapterBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>        
      </basicHttpBinding>-->
      
      <wsHttpBinding>
        <binding name="AdapterComponentMPI_wsHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>     
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="Mobius.ServiceLibrary.AdapterComponentMPI" behaviorConfiguration="AdapterComponentMPI.ServiceBehavior">

        <!--<endpoint address="SOAP11" binding="basicHttpBinding" contract="Mobius.ServiceLibrary.IAdapterComponentMpi" bindingNamespace="urn:hl7-org:v3" bindingConfiguration="AdapterComponentMPI_basicHttpAdapterBinding">
        </endpoint>-->
        

        <endpoint address="" binding="wsHttpBinding" contract="Mobius.ServiceLibrary.IAdapterComponentMpi" bindingNamespace="urn:hl7-org:v3" bindingConfiguration="AdapterComponentMPI_wsHttpBinding">
        </endpoint>    
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <behaviors>
      <!--<endpointBehaviors>
        <behavior name="webHttpBindingConfiguration">
          <webHttp/>
        </behavior>
      </endpointBehaviors>-->
      
      <serviceBehaviors>
        <behavior name="AdapterComponentMPI.ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <applicationSettings>
    <MobiusHISEService.Properties.Settings>
      <setting name="MobiusHISEService_RetrieveDocument_EntityDocRetrieve" serializeAs="String">
        <value>http://71.28.159.148:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService</value>
      </setting>
    </MobiusHISEService.Properties.Settings>
  </applicationSettings>
  
  
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="AdapterComponentService.svc" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>


