body { background-color: #f7f7f7; text-align:center;}

.text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;

}


.textdisable{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background-color: #cccccc;

}

.Permission{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	text-align:left;
		
}

.textPermission{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	text-align:left;
	width:85%;
	
}

.bluetext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight:normal;
	color: #5d7083;
	text-decoration: none;
	
}

.bluetext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style:normal;
	font-weight:bold;
	color: #2C75AB;
	text-decoration: none;
}
.bluetext_heading{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight:normal;
	color:#045aa7;
	text-decoration: none;
	font-weight: bold;
}

.headtext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #2C75AB;
	text-decoration: none;
	font-weight: normal;
	
}

.headtext:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.headtext_Label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #2C75AB;
	text-decoration: none;
	font-weight: normal;
	
}

.caption{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.Bold_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}

.Bold_textNote{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	text-align:left;
}
.Bold_text_heading{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}

.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #C0E1F0;
	font-weight: bold;
	text-decoration: none;
}
.link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style:none;
	color: #C0E1F0;
	text-decoration: underline;
}
.linkNew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #07559f; 
	text-decoration: none;
}
.linkNew:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:none;
	color: #07559f;
	text-decoration: underline;
}
.text_link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#0000FF;
	text-decoration: underline;
	font-weight: normal;
}

.text_link:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#0000FF;
	text-decoration: none;
	font-weight: normal;
}
button
{
    FONT-SIZE: 11px;
    WIDTH: 70px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.Button
{	
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight:normal; 
	color:#FFFFFF; 
	background-color:#3399cc; 
	padding: 3px 3px 3px 3px; 
}

.three{background:url(images/03.gif) repeat-x;}
.five{background:url(~/images/05.gif) repeat-x;}

.button_bg{background:url(~/images/dolphin_bg-ON.gif) repeat-x;}



.whitetext {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #fff;
	font-weight: normal;
	text-decoration: none;}

.whitetext:hover {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style:none;
	color: #fff;
	text-decoration: underline;}

.logout{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight:bold;
	color: #000000;
	text-decoration: underline;
}


.logout:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight:bold;
	color: #000000;
	text-decoration: none;
}
.blacktext_link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000000;
	text-decoration: underline;
	font-weight: normal;
}

.blacktext_link:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000000;
	text-decoration: none;
	font-weight: normal;
}

.bluetext_link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#045aa7;
	text-decoration: underline;
	font-weight: normal;
}

.bluetext_link:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#045aa7;
	text-decoration: none;
	font-weight: normal;
}

.Table
{
	border:#000000 1px solid ;
	border-color:Red;
	width:100%;
}

.tabel_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top:6px;
	text-align:left;
	height:18px;
	Padding-left:4px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-weight: none;
}

.White_heading{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:24px;
		text-align:left;
	padding-top:5px;
	Padding-left:4px;
	font-style: normal;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}