<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.AlopplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MobiusHISEService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="D:\First Genesis SVN\trunk\SDLC\Source\Mobius Phase-II\Source Code\Mobius.Server\Mobius.CoreLibrary\Configuration.xml"/>
    <add key="Log.File.Name" value="c:\DLLs\MobiusLog.log"/>
    <add key="LocalHomeCommunityID" value="2.16.840.1.113883.3.1605"/>
    <add key="RemoteHomeCommuntiyID" value="2.16.840.1.113883.3.348.2.1"/>
  </appSettings>
  <connectionStrings/>
  <system.web>

    <httpRuntime maxRequestLength="65536"></httpRuntime>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="MobiusHISEServiceSimpleBindingBinding" maxReceivedMessageSize="2147483647"  >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
        <binding name="MobiusHISEServiceSecuredBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message establishSecurityContext="true" clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="Mobius.Server.MobiusHISEService.MobiusHISE" behaviorConfiguration="MobiusHISEService.Service1Behavior">

        <endpoint address="" binding="wsHttpBinding"  contract="Mobius.Server.MobiusHISEService.IMobius"
                  bindingConfiguration="MobiusHISEServiceSimpleBindingBinding" name="SimpleBinding"   >

        </endpoint>

        <endpoint address="wsHttpBinding" binding="wsHttpBinding" contract="Mobius.Server.MobiusHISEService.IMobiusSecured"
                          bindingConfiguration="MobiusHISEServiceSecuredBinding" name="SecureBinding">
        </endpoint>

      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >

    </serviceHostingEnvironment>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBindingConfiguration">
          <webHttp/>
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MobiusHISEService.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata  httpGetEnabled="True"   />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <useRequestHeadersForMetadataAddress>
           
          </useRequestHeadersForMetadataAddress>
          <serviceCredentials>
            <clientCertificate>
              <authentication revocationMode="NoCheck" certificateValidationMode="ChainTrust" />
            </clientCertificate>
            <serviceCertificate findValue="1a7a8e6c0000000002dd" x509FindType="FindBySerialNumber"/>
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="Mobius.Server.MobiusHISEService.CustomPrincipal, Mobius.ServiceLibrary">
            <authorizationPolicies>
              <add policyType="Mobius.Server.MobiusHISEService.AuthorizationPolicy, Mobius.ServiceLibrary"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <MobiusHISEService.Properties.Settings>
      <setting name="MobiusHISEService_RetrieveDocument_EntityDocRetrieve" serializeAs="String">
        <value>http://71.28.159.148:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService</value>
      </setting>
    </MobiusHISEService.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\TempStar\Traces_NEW.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
