
.dropmenudiv{
position:absolute;
border:1px solid #74b0de;
border-bottom-width: 0;
font:normal 11px tahoma;
line-height:18px;
z-index:100;
width:210px;
display: block;
text-indent: 3px;
border-bottom: 1px solid #2c5e8c;
padding: 1px 0;
text-decoration: none;

background-color: #ffffff;
}

.dropmenudiva{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #2c5e8c;
padding: 1px 0;
text-decoration: none;

background-color: #ffffff;
}



.dropmenudivHover{ /*hover background color*/

background-color: #3d87ce;
color:#FFFFFF;
display: block;
width:210px;

}



