.msPopupTitle
{
    text-align: left;
	padding-left:4px;		
	height:23px;
	font-family:Verdana,Tahoma,Arial;
	font-size: 11px;
	font-weight:bold;
	background-image:url(../../images/but_bg.gif) ;
 	background-repeat:repeat;
 }
 .msPopupTable
 {
 	BORDER:  #AFEEEE  2px solid; 	
 	background-image:url(../images/ui-button.png) ;
 	background-repeat:repeat;
 	
  }
  .msDivPopUp
  {
  	margin-top:0;
  	margin-left:0;
  	margin-right:0;
  	margin-bottom:0;
   }   
  
   
#page_screen
{   
   background:#333300 none repeat scroll 0 0;
   filter:alpha(opacity=50);  
   opacity: 0.5;     
   position:absolute;
   cursor:not-allowed;
   top:0px;
   left:0px;
   width:100%;
   display:none;
   height:100%;
   z-index:53;
}
/*------------END Account Listing Grid ----------------*/