<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SAMLAssertion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<SAMLAssertion.Properties.Settings>
			<setting name="SAMLAssertion_HarrisStore_EntityXDR_Service" serializeAs="String">
				<value>http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/StoreDocumentIntegrationService</value>
			</setting>
			<setting name="SAMLAssertion_DocQuery_EntityDocQuery" serializeAs="String">
				<value>http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocQueryIntegrationService</value>
			</setting>
			<setting name="SAMLAssertion_RetrieveDocument_EntityDocRetrieve" serializeAs="String">
				<value>http://ec2-50-16-98-152.compute-1.amazonaws.com:8080/HarrisIntegrationServices/DocumentRetrieveIntegrationService</value>
			</setting>
			<setting name="SAMLAssertion_SAMLService_SamlService1" serializeAs="String">
				<value>http://10.0.30.61:8008/SAMLService/SamlService1.asmx</value>
			</setting>
		</SAMLAssertion.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
